<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
<!-- copy jquery link -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<meta charset="ISO-8859-1">
<title>Order Method Register Page</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h2>Order Method Edit Page</h2>
			</div>
			<div class="card-body">
				<form th:action="@{/om/update}" method="post" th:object="${orderMethod}">
				
				<!-- row-0 -->
				<div class="row">
					<div class="col-3">
						<label>Order ID:</label>
					</div>
					<div class="col-4">
						<input type="text" th:field="*{id}" class="form-control" readOnly/>
					</div>
				</div>
				
				<!-- row-1 -->
				<div class="row">
					<div class="col-3">
						<label>Order Mode:</label>
					</div>
					<div class="col-4">
						<input type="radio" th:field="*{orderMode}" value="Sale"/>Sale
						<input type="radio" th:field="*{orderMode}" value="Purchase" />Purchase
					</div>
					<div class="col-5">
						<span id="orderModeError"></span>
					</div>
				</div>
				
				<!-- row-2 -->
				<div class="row">
					<div class="col-3">
						<label>Order Code:</label>
					</div>
					<div class="col-4">
						<input type="text" th:field="*{orderCode}" class="form-control"/>
					</div>
					<div class="col-5">
						<span id="orderCodeError"></span>
					</div>
				</div>
				
				<!-- row-3 -->
				<div class="row">
					<div class="col-3">
						<label>Order Type:</label>
					</div>
					<div class="col-4">
						<select th:field="*{orderType}" class="form-control">
							<option value="">--SELECT--</option>
							<option value="FIFO">FIFO</option>
							<option value="LIFO">LIFO</option>
							<option value="FCFO">FCFO</option>
							<option value="FEFO">FEFO</option>
						</select>
					</div>
					<div class="col-5">
						<span id="orderTypeError"></span>
					</div>
				</div>
				
				<!-- row-4 -->
				<div class="row">
					<div class="col-3">
						<label>Order Accept:</label>
					</div>
					<div class="col-4">
						<input type="checkbox" th:field="*{orderAcpt}" value="Multi-Model"/>Multi-Model
						<input type="checkbox" th:field="*{orderAcpt}" value="Accept-Return"/>Accept-Return	
					</div>
					<div class="col-5">
						<span id="orderAcptError"></span>
					</div>
				</div>
				
				<!-- row-5 -->
				<div class="row">
					<div class="col-3">
						<label>Description:</label>
					</div>
					<div class="col-4">
						<textarea th:field="*{orderDesc}" class="form-control"></textarea>		
					</div>
					<div class="col-5">
						<span id="orderDescError"></span>
					</div>
				</div>
				
				<input type="submit" value="Update Order Method" class="btn btn-success"/> 
				</form>
			</div><!-- card body end -->
			
			
		</div><!-- card end -->
	</div><!-- container end -->

</body>
</html>